<div class="logIn authContent">
    <app-button [routerLink]="'/signup'" [text]="'Sign-Up'"></app-button>
    <form class="authForm" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(email!.value, pass!.value)">
        <label for="email" >Your e-mail:</label>
        <input type="text"formControlName="email" id="email" name="email" class="authInput">
        <span class="error-mess" *ngIf="email!.invalid && (email!.touched || email!.dirty)">Invalid email!</span>
        <label for="pass">Your password:</label>
        <input type="password" formControlName="pass" id="pass" name="pass" class="authInput">
        <span class="error-mess" *ngIf="pass!.invalid && (pass!.touched || pass!.dirty)">Invalid pass!</span>
        <input type="submit" value="Log In!" id="signUpButton">        
    </form>
</div>
