<button (click)="onLogOut()" class="tweets-button logout">Log out</button>
<button  class="tweets-button account"[(ngModel)]="username" routerLink="/account" >Hi, {{ username }}</button>
<app-add-tweets (onAddTweet)="addTweet($event)"></app-add-tweets>
<div *ngIf="this.error">
    <p class="error-mess">{{ this.error }}</p>
</div>
<div *ngIf="showAll; else showAllTweets">
    <app-tweets-button [text]="'Show my tweets'" (onShowMyTweets)="myTweets()"></app-tweets-button>
</div>
<ng-template #showAllTweets>
    <app-tweets-button [text]="'Show all tweets'" (onShowMyTweets)="allTweets()"></app-tweets-button>
</ng-template>
<div class="tweets-feed">
    <app-tweet-item *ngFor="let tweet of tweets" [username]="username" [tweet]="tweet" (onDeleteTweet)="deleteTweet($event)"></app-tweet-item>
</div>
