<div class="postTweet">
<div class="singleTweet">
    <div class="tweetText">
        <p class="tweetTweet">{{tweet.tweet}}</p>
    
    <div class="tweetOpt">
        <small class="tweetUsername">{{ tweet.username }}</small>
        <small class="tweetTime">{{tweet.time}}</small>
    </div>
    </div>
    
    <div *ngIf="tweet.url" class="tweetImage">
        <!-- <img src="{{tweet.url}}" alt="{{tweet.url}}"> -->
        <img src="{{tweet.url}}" alt="{{tweet.url}}">
    </div>
</div>
<div *ngIf="tweet.username === username ">
    <fa-icon [icon]="faTrash" (click)="DeleteTweet(tweet)"></fa-icon>
</div>
</div>

