.sort{
    margin-left: 10%;
    margin-bottom: 1em;
    height: 2em;
    background-color: #80b7eb;
    border-radius: 4px;
    border: 1px black solid;
}
.sort:hover{
    background-color: #2f6ca5;
}