<div class="account-data">
    <h2>My account:</h2>
    <div class="account-data-block">
        <p class="user-data username"><b>Username:</b></p>
        <fa-icon [icon]="faPencil" (click)="changeUsername()"></fa-icon>
    </div>
    <div class="account-data-block">
        <p class="user-data email"><b>Email:</b></p>
        <fa-icon [icon]="faPencil" (click)="changeEmail()"></fa-icon>
    </div>
    <button class="account-button delete">Delete account</button>
    <button class="account-button change">Change password</button>
</div>
