<form class="newTweet" (ngSubmit)="AddTweet()">
    <input type="text" name="text" [(ngModel)]="text" placeholder="How are you feeling today?">
    <input type="submit" id="send" hidden>
    <label for="pic">
        <fa-icon class="icon-tweets" [icon]="faImages"></fa-icon>
    </label>
    <input #takeInput name="takeInput" type="file" id="pic" (change)="loadFile($event)" hidden>
    
    <label for="send">
        <fa-icon class="icon-tweets" [icon]="faPaperPlane"></fa-icon>
    </label>

</form>
<div class="error-rep" *ngIf="this.error">
    <p class="error-mess">{{ this.error }}</p>
</div>
<div *ngIf="imageUploaded">
    <div class="selected-pic">
        <span class="selected-file">{{ imageName }}</span>
        <button class="buttonPic deletePic" (click)="clearImage()">
            <fa-icon [icon]="faEraser"></fa-icon>
        </button>
        <label for="pic" class="buttonPic changePic">
            <fa-icon [icon]="faFolderMinus"></fa-icon>
        </label>
    </div>

</div>